/Turboapi-auth/bin/
/Turboapi-auth/obj/
/Turboapi-geo/bin/
/Turboapi-geo/obj/
/Turboapi-activity/bin/
/Turboapi-activity/obj/
/Turbo-event/bin/
/Turbo-event/obj/
/Turbo-pg-data/bin/
/Turbo-pg-data/obj/